body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root > div{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:2em;
  width:100%;
}

#root > div a{
  margin-bottom:1em;
}

form{
  width:25em;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

form span{
  position:absolute;
}

.error{
  position:relative;
  height:2em;
}

.col-4, .col-6{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:1.5em;
}

.col-4 img{
  width:10em;
}

.col-6 img{
  width:60%;
}

#detailContainer{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.detail{
  width:fit-content;
}

.detail > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail img{
  width:70%;
  margin-bottom:1em;
}

.detail span{
  text-align: center;
}

h1{
  text-align: center;
}

a:nth-child(2){
  margin-left:1em;
}

#cumulative{
  display:flex;
  justify-content:center;
  margin-bottom:2em;
  width:100%;
  
}

#cumulative > div{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #cccccc;
  padding:1em;
}

#cumulative h3{
  margin-top:0.5em;
}

#cumulative b{
  text-transform:capitalize;
}

#search form{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#search .error{
  width:100%;
}

#search div, #search input[type="text"]{
  width:100%;
}

#logout{
  position:absolute;
  right:2em;
  top:2em;
}

#team{
  box-sizing:border-box;
  margin-left:0;
  margin-right:0;
}

#team .col-6{
  min-width:336px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

@media (max-width:767px){
  #team{
    max-width:336px;
  }
  #team .col-6{
    min-width:100%;
  }
}

@media (max-width:350px){
  #logout{
    position:relative;
    right:0;
    top:0;
  }
}